<!DOCTYPE html>
<html>
<head>
  <title>Yoita</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.1.min", "bootstrap.min","jquery-ui-1.8.18.custom.min"  %>
  <%= javascript_include_tag "jquery-ui-effects.min", "jquery-common","jquery.blockUI"  %>
  <%= javascript_include_tag "jquery.toaster.min", "jquery.elastic","select-utils"  %>
  <%= javascript_include_tag "i18n/ui.datepicker-ja", "dateformat","format-utils"  %>
  <%= javascript_include_tag "validate-utils"  %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
</head>

<body>
<!-- メインメニュー -->
<!-- <%= yield :extend_menu %> -->
<!-- Contents -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--サイドコンテンツ-->
      <div class="well sidebar-nav">
		<%= yield :extend_sub_menu %>
      </div>
    </div>
    <div class="span9">
      <!--メインコンテンツ-->
      <div class="well">
		<%= yield %>
      </div>
    </div>
  </div>
</div>



</body>
</html>
